<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postify</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>Postify</h1>
    <hr>
    <% for(post of posts){ %>
        <div class="post">
            <h3 class="user">@<%= post.username%>
            </h3>
            <h4 class="content">
                <%= post.content %>
            </h4>
            <a href="/posts/<%= post.id %>">See in Detail</a>
            <a href="/posts/<%= post.id %>/edit">Edit</a>
            <form class="inline-form" method="post" action="/posts/<%= post.id %>?_method=DELETE">
                <button class="delete-btn" type="submit">Delete</button>
            </form>
        </div>
        <% } %>
            <a href="/posts/new" class="new-post-link">Add new Post</a>
</body>

</html>